<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <a href="/">CheckIn Alert</a> 
      <% if session[:user_id] == nil %>
          <a href="/user_sign_in">Sign In</a> <a href="/user_sign_up">Sign Up</a>
      <% end %>
      <% if session[:user_id] != nil %>
          <a href="/edit_user_profile">Edit Profile</a> <a href="/user_sign_out">Sign out</a>
      <% end %>
    <%= yield %>
  </body>
</html>
